@use 'tailwindcss';

@use 'utils' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant hover (&:hover);

@theme {
  /* // Percents are for purple primary color
   * @include defineThemeColor("primary", $primaryColor, 18%);
   * @include defineThemeColor("secondary", $secondaryColor, -8%);
   */
  @include defineThemeColor('primary', $primaryColor);
  @include defineThemeColor('secondary', $secondaryColor);
}

html {
  color-scheme: light dark;

  --color-background: theme(colors.white);
  --color-foreground: theme(colors.gray.900);
}
html.dark {
  --color-background: theme(colors.gray.900);
  --color-foreground: theme(colors.gray.200);
}

/* Apply theme variables to elements using @apply */
@layer base {
  body {
    @apply bg-[var(--color-background)] text-[var(--foreground-color)];
  }
}

:root {
  --formSize: 2.5em;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // Set font size to approx fit 20 lines in the list
  // font-size: max(14px, 1.62vh);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  // background-color: var(--color-background);
  background:
    url('/static/icons/select-arrows-gray.svg') no-repeat 98% 50%,
    var(--color-background);
  color: var(--color-foreground);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* // NOTE: It works wierd, let use browser's native styles
   * option {
   *   background-color: var(--color-background);
   *   &:hover,
   *   &:checked {
   *     background-color: var(--color-primary) !important;
   *     color: #fff;
   *   }
   *   &:hover {
   *     box-shadow: 0 0 10px 100px #0f0 inset !important;
   *   }
   * }
   */
}

/* // DEMO: Clipping layout example
 * body,
 * #root {
 *   position: fixed;
 *   left: 0;
 *   right: 0;
 *   bottom: 0;
 *   top: 0;
 *   overflow: hidden;
 * }
 *
 * body {
 *   margin: 0;
 *   padding: 0;
 * }
 *
 * #root {
 *   display: flex;
 *   flex-direction: column;
 *   align-items: stretch;
 *   align-content: space-around;
 * }
 */
