@use 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant hover (&:hover);

:root {
  /* Define colors */
  --backgroundColor: #222;
  --textColor: #ddd;

  --primaryColor: #48f;
  --secondaryColor: #fb1;
  --appDestructiveColor: #f55;
  --formSize: 2.5em;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // Set font size to approx fit 20 lines in the list
  // font-size: max(14px, 1.62vh);

  color-scheme: light dark;
  color: var(--textColor); // rgba(255, 255, 255, 0.85);
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  color: var(--textColor);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  option {
    &:hover,
    &:checked {
      background-color: var(--primaryColor);
      color: #fff;
    }
  }
  > * {
    background-color: var(--backgroundColor);
  }
  background: url("/static/icons/select-arrows-dark.svg") no-repeat 100% 50%;
}

/* // Clipping layout example
 * body,
 * #root {
 *   position: fixed;
 *   left: 0;
 *   right: 0;
 *   bottom: 0;
 *   top: 0;
 *   overflow: hidden;
 * }
 *
 * body {
 *   margin: 0;
 *   padding: 0;
 * }
 *
 * #root {
 *   display: flex;
 *   flex-direction: column;
 *   align-items: stretch;
 *   align-content: space-around;
 * }
 */
